
$dark: #222222;
$gray-line-100: rgba(238, 238, 238, 0.514);
$gray-200: rgb(233, 230, 230);
$orange: #ec521e;
$gray: #eee;
$white: #fff;
$fb-blue: #4267B2;
$gh-orange: #bd2c00;
$li-blue: #0e76a8;
$yellow: #FDE197;
$blue-gray:#F4F5FF;
