.logo {
    font-size: 5.8rem;
    text-align: center;
    font-weight: 700;
    font-family: 'Lora', serif;
    padding: 2.5rem;

    @media (max-width: 34.375em) {
      font-size: 3.8rem;
    }
  }
  
  